body {
  font-family: Arial, sans-serif;
  background: #111;
  color:#eee;
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

.project {
  background: #1c1c1c;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

a {
  color: #4db8ff;
  text-decoration: none;
}
.about {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 3rem 0;
}

.about-image {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}

.about-text {
  max-width: 600px;
}

.about-text h2 {
  margin-bottom: 0.5rem;
}